@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/accounting.jpg");
@import url("/marketing.jpg");
@import url("/social-media-manager.jpg");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  .container-x {
    @apply w-full max-w-7xl px-5 mx-auto;
  }
  .section {
    @apply py-24;
  }
  .swiper-custom-bullet {
    @apply w-3 h-3 rounded-full bg-transparent border border-white transition duration-500 cursor-pointer;
  }

  .swiper-custom-bullet.swiper-custom-bullet-active {
    @apply bg-white;
  }
}
.PhoneInputInput {
  @apply block bg-primary-lt/10 rounded-md w-full accent-primary border-primary/10 focus:border-primary/40 border p-2;
}
